<div class="container" >
  <form (ngSubmit)="OrderForm()">

    <ion-item>
      <ion-input [(ngModel)]="order.customerId" name="customerId" placeholder="customerId" type="text"></ion-input>
      </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.salesPerson" name="salesPerson" placeholder="salesPerson" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.status" name="status" placeholder="status" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.soNumber" name="soNumber" placeholder="soNumber" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.itemCount" name="itemCount" placeholder="itemCount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Items</ion-label>
      <ion-select [(ngModel)]="order.items" multiple="true" value="Select All" okText="Okay" cancelText="Dismiss">
        <ion-option *ngFor="let item of items" value="item.id">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Order Date</ion-label>
      <ion-datetime [(ngModel)]="order.orderDate" value="2019-04-15" min="1990-02"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD. MMM DD, YY HH:mm"
        monthShortNames="jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Pickup Date</ion-label>
      <ion-datetime [(ngModel)]="order.pickupDate" value="2019-04-15" min="1990-02"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD. MMM DD, YY HH:mm"
        monthShortNames="jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Deliver Date</ion-label>
      <ion-datetime [(ngModel)]="order.deliverDate" value="2019-04-15" min="1990-02"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD. MMM DD, YY HH:mm"
        monthShortNames="jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.orderAmount" type="number" name="orderAmount" ui-money-mask></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.receiptImageLocation" name="receiptImageLocation" placeholder="receiptImageLocation" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.rating" name="rating" placeholder="rating" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Client</ion-label>
      <ion-select [(ngModel)]="order.clientId" value="Select Client" okText="Okay" cancelText="Dismiss">
        <ion-option *ngFor="let client of client" value="client.id">{{client.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-select [(ngModel)]="order.clientLocationId" value="Select Location" okText="Okay" cancelText="Dismiss">
        <ion-option *ngFor="let loc of locations" value="location.id">{{location.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.isPickedUp" name="isPickedUp" placeholder="isPickedUp" type="checkbox"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="order.isDelivered" name="isDelivered" placeholder="isDelivered" type="checkbox"></ion-input>
    </ion-item>

  </form>
</div>