ion-toolbar {
    --background: var(--color-toolbar-background);
    color: var(--color-toolbar-text);
}
.verticalScrollContainer {
    background: var(--color-toolbar-background);
}

#footerLogo {
    max-height: 40px;
    margin: 0 auto;
    padding: 0
}

.text-center {
    text-align: center;
}

small {
    font-size: x-small;
    margin: 0 auto
}