<div class="container" >
  <form (ngSubmit)="ItemForm()">

    <ion-item>
      <ion-input [(ngModel)]="item.routeId" name="routeId" placeholder="routeId" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.route" name="route" placeholder="" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.stopId" name="stopId" placeholder="stopId" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.stopStatus" name="stopStatus" placeholder="stopStatus" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.stopNo" name="stopNo" placeholder="stopNo" type="number">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.vendorId" name="vendorId" placeholder="vendorId" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.vendorName" name="vendorName" placeholder="vendorName" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.deliverDate" name="deliverDate" placeholder="deliverDate" type="date">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.teamReferenceId" name="teamReferenceId" placeholder="teamReferenceId" type="number">
    </ion-item>
    
    <ion-item>
      <ion-input [(ngModel)]="item.discount" name="discount" placeholder="discount" type="number">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.extPrice" name="extPrice" placeholder="extPrice" type="number">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.itemPkgId" name="itemPkgId" placeholder="itemPkgId" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.itemDesc1" name="itemDesc1" placeholder="itemDesc1" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.itemDesc2" name="itemDesc2" placeholder="itemDesc2" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.itemSku" name="itemSku" placeholder="itemSku" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.itemType" name="itemType" placeholder="itemType" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.cubes" name="cubes" placeholder="cubes" type="number">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.orderQty" name="orderQty" placeholder="orderQty" type="number">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.lastOrderQty" name="lastOrderQty" placeholder="lastOrderQty" type="number">
    </ion-item>    

    <ion-item>
      <ion-input [(ngModel)]="item.exceptionQty" name="exceptionQty" placeholder="exceptionQty" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.packageItemSeq" name="packageItemSeq" placeholder="packageItemSeq" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.price" name="price" placeholder="price" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.adjustedPrice" name="adjustedPrice" placeholder="adjustedPrice" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.ratedValue" name="ratedValue" placeholder="ratedValue" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.saleType" name="saleType" placeholder="saleType" type="text">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.itemStatus" name="itemStatus" placeholder="itemStatus" type="text">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.isActive" name="isActive" placeholder="isActive" type="checkbox">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.serialNumber" name="serialNumber" placeholder="serialNumber" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.sR" name="sR" placeholder="sR" type=""text>
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.refusalReason" name="refusalReason" placeholder="refusalReason" type="text">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.isPickupOnly" name="isPickupOnly" placeholder="isPickupOnly" type="checkbox">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.isEvenExchange" name="isEvenExchange" placeholder="isEvenExchange" type="checkbox">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.stopMileage" name="stopMileage" placeholder="stopMileage" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.stopRate" name="stopRate" placeholder="stopRate" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.stopMileagePremium" name="stopMileagePremium" placeholder="stopMileagePremium" type="number">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.updatedBy" name="updatedBy" placeholder="updatedBy" type="text">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.updateDate" name="updateDate" placeholder="updateDate" type="date">
    </ion-item>
        
    <ion-item>
      <ion-input [(ngModel)]="item.accountName" name="accountName" placeholder="accountName" type="text">
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="item.isBillable" name="isBillable" placeholder="isBillable" type="checkbox">
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="notes" rows="6"></ion-textarea>
    </ion-item>

    <button type="submit">Save</button>

  </form>
</div>