<div class="container" >
  <form (ngSubmit)="clientForm()">

    <ion-item>
      <ion-input [(ngModel)]="client.name" name="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.address1" name="address1" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.address2" name="address2" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.city" name="city" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.state" name="state" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.zip" name="zip" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.phone1" name="phone1" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.phone2" name="phone2" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="client.phone1" name="phone1" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="notes" rows="6"></ion-textarea>
    </ion-item>

    <button type="submit">Save</button>

  </form>
</div>